server:
  servlet:
    context-path: /unistore/api
  port: 8080
spring:
  h2:
    console:
      enabled: true
      path: /h2_console
      settings:
        trace: true
        web-allow-others: true
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true          
          