server:
  servlet:
    context-path: /unistore/api
  port: 8080
spring:
  h2:
    console:
      enabled: true
      path: /h2_console
      settings:
        trace: true
        web-allow-others: true
  datasource:
    url: jdbc:h2:mem:unistore-testdb
    username: sa
    password: null
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    
url:
  product: http://localhost:8080/unistore/api/product/id/{}
  price: http://localhost:8080/unistore/api/price/product/{}        